.Home-container {
    width: 800px;
    margin: 0 auto;
}

.Home-headline-text {
    font-size: 32px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0px;
}

.Home-subheadline-text {
    font-size: 20px;
    color: var(--white);
    margin-top: 0px;
}

.Home-main-rounded-div {
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
}
.Home-button {
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    padding: 10px;
}

.Home-sign-in-button {
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    padding: 8px;
    margin-top: -7px;
}

.Home-sign-in {
    padding: 20px;
}

.Home-multiplayer-random {
    padding: 20px;
}

.Home-two-divs {
    display: flex;
}

.Home-individual {
    flex: 1;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 20px;
    margin-top: 0px;
}

.Home-multiplayer-party {
    flex: 1;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 20px;
    margin-top: 0px;
}

.Home-align-right {
    float: right;
}

.Home-mathing-race-button {
    margin-top: 10px;
    font-size: 24px;
}

.Home-practice-yourself-button {
    margin-top: 10px;
    font-size: 24px;
}

.Home-create-party-button {
    margin-top: 10px;
    font-size: 24px;
}

.Home-leaderboard {
    padding: 20px;
}
